/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

/* intestazione */
header {
  height: 70px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

h1 {
  color: red;
  cursor: pointer;
}

input {
  outline: none;
}

nav ul {
  display: flex;
  list-style: none;
}

nav a {
  color: #cccccc;
  font-size: 16px;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: white;
}
/* fine intestazione */
/* corpo */
main {
  background-color: grey;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.box_movie {
  height: 373px;
  width: 250px;
  margin: 10px 15px;
  border: 2px solid white;
  background-color: black;
}

.box_movie img {
  width: 100%;
}

.movie_info {
  display: none;
  height: 100%;
  padding: 10px 8px;
  color: white;
  font-size: 13px;
  line-height: 130%;
  overflow-y: auto;
}

.movie_info::-webkit-scrollbar {
  width: 5px;
}

.movie_info::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.movie_info::-webkit-scrollbar-thumb {
  background: #888;
}

.movie_info span {
  font-weight: bold;
}

.box_movie:hover .movie_info {
  display: block;
}

.box_movie:hover img, .box_movie:hover .not_available {
  display: none;
}

.not_available {
  margin-top: 5px;
  text-align: center;
  color: white;
}
/* fine corpo */
