<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <link rel="stylesheet" href="css/style.css">
    <title>Boolflix</title>
  </head>
  <body>
    <div id="app">
      <!-- intestazione -->
      <header>
        <h1>BOOLFLIX</h1>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Serie TV</a></li>
            <li><a href="#">Film</a></li>
            <li><a href="#">Originali</a></li>
            <li><a href="#">Aggiunti di recente</a></li>
            <li><a href="#">La mia lista</a></li>
          </ul>
        </nav>
        <div class="search">
          <input type="text" placeholder="Cerca un film o una serie" v-model="search" @keypress.enter="find">
          <button type="button" name="button" @click="find"><i class="fas fa-search"></i></button>
          <select name="type" v-model="selected">
            <option value="all">Tutto</option>
            <option value="movie">Film</option>
            <option value="series">Serie TV</option>
          </select>
        </div>
      </header>
      <!-- fine intestazione -->
      <!-- corpo -->
      <main>
        <div class="container">

          <div class="box_movie" v-for="movie in searchList">
            <img class="poster" v-if="movie.poster_path != null" :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="'Poster ' + movie.title">
            <div v-else class="not_available">IMMAGINE NON DISPONIBILE</div>
            <div class="movie_info">
              <div v-if="movie.type == 'movie'" class="info"><span>Titolo: </span>{{ movie.title }}</div>
              <div v-else class="info"><span>Titolo: </span>{{ movie.name }}</div>
              <div v-if="movie.type == 'movie'" class="info"><span>Titolo originale: </span>{{ movie.original_title }}</div>
              <div v-else class="info"><span>Titolo originale: </span>{{ movie.original_name }}</div>
              <div class="info">
                <span>Lingua: </span>
                <img v-if="movie.original_language != null" :src="'https://www.countryflags.io/' + movie.original_language + '/flat/16.png'">
                <span v-else>Lingua non trovata</span>
              </div>
              <div class="info">
                <span>Voto: </span>
                <i v-for="star in movie.stars" class="fas fa-star"></i><i v-for="star in (5 - movie.stars)" class="far fa-star"></i>
              </div>
              <div class="info"><span>Descrizione: </span>{{ movie.overview }}</div>
            </div>
          </div>

        </div>
      </main>
      <!-- fine corpo -->
    </div>
    <script src="js/scripts.js" charset="utf-8"></script>
  </body>
</html>
